<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookAVenue"
        tools:targetApi="31">
        <activity
            android:name=".user.EditEmailActivity"
            android:exported="false" />
        <activity
            android:name=".user.EditNameActivity"
            android:exported="false" />
        <activity
            android:name=".user.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".user.FavHallDetailActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserProfileImgActivity"
            android:exported="false" />
        <activity
            android:name=".HallImgActivity"
            android:exported="false"
            android:parentActivityName=".user.HallDetailActivity" />
        <activity
            android:name=".serviceProvider.SpProfileImgActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.UserChatActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".serviceProvider.SpHallImagesActivity"
            android:exported="false"
            android:parentActivityName=".serviceProvider.SpProfileInfo"
            android:theme="@style/Theme.BookAVenue">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".serviceProvider.SpProfileInfo"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBATY4qKmIoBQpnc3T1bspOBez7bDbvoJs" />

        <activity
            android:name=".user.GoogleMap_Activity"
            android:exported="false"
            android:label="Google Map" />
        <activity
            android:name=".user.PriceFilterActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FirebaseUIActivity"
            android:exported="true"
            android:parentActivityName=".user.UserSigninActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".serviceProvider.SpChatActivity2"
            android:exported="false"
            android:parentActivityName=".serviceProvider.SpChatActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".serviceProvider.SpChatActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ChatsActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".user.HallDetailActivity"
            android:exported="false"
            android:parentActivityName=".user.UserHomeActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".user.UserHomeActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".user.UserSigninActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".user.UserSignUpActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".serviceProvider.ServiceProviderInterface"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".serviceProvider.ProviderSignInActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".serviceProvider.MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>